@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;400&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Overpass", sans-serif;
  overflow-x: hidden;
}

button {
  background-color: transparent;
  border: none;
  outline: hidden;
}

li {
  list-style: none;
}

.hero-1 {
  background-image: url("./images/bg-pattern-intro.svg"), -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background-image: url("./images/bg-pattern-intro.svg"), linear-gradient(to right, #ff8f70, #ff3d54);
  background-position: bottom 42% right 70%;
  height: 80vh;
}

.hero-1 .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 10vh;
  margin: 0 auto;
  padding-top: 2vh;
}

.hero-1 .navigation .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-1 .navigation .left img {
  padding-right: 40px;
  cursor: pointer;
}

.hero-1 .navigation .left .menu-item {
  padding: 0 20px;
}

.hero-1 .navigation .left .menu-item button {
  color: white;
  cursor: pointer;
}

.hero-1 .navigation .left .menu-item button:hover {
  color: #ff3d54;
  -webkit-transition-duration: 267ms;
          transition-duration: 267ms;
}

.hero-1 .navigation .left .menu-item button img {
  padding-left: 5px;
}

.hero-1 .navigation .left .menu-item .dropdown-hover {
  display: none;
}

.hero-1 .navigation .right {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-1 .navigation .right button {
  padding: 0 20px;
  color: white;
}

.hero-1 .navigation .right #signup {
  background-color: white;
  color: #ff3d54;
  padding: 10px 25px;
  border-radius: 20px;
  font-weight: 700;
  border: 2px solid white;
  -webkit-transition-duration: 267ms;
          transition-duration: 267ms;
}

.hero-1 .navigation .right #signup:hover {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
}

.hero-1 .navigation .right #login {
  -webkit-transition-duration: 267ms;
          transition-duration: 267ms;
}

.hero-1 .navigation .right #login:hover {
  color: #ff8f70;
  cursor: pointer;
}

.hero-1 .main-hero {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.hero-1 .main-hero h1 {
  font-size: 60px;
  padding: 20px;
}

.hero-1 .main-hero span {
  font-size: 20px;
  padding-bottom: 20px;
}

.hero-1 .main-hero .call-to-action {
  padding: 20px;
}

.hero-1 .main-hero .call-to-action a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  margin: 0 5px;
}

.hero-1 .main-hero .call-to-action #start {
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid white;
  color: #ff525d;
  -webkit-transition-duration: 267ms;
          transition-duration: 267ms;
}

.hero-1 .main-hero .call-to-action #start:hover {
  color: white;
  background-color: transparent;
}

.hero-1 .main-hero .call-to-action #learn {
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 20px;
  -webkit-transition-duration: 267ms;
          transition-duration: 267ms;
}

.hero-1 .main-hero .call-to-action #learn:hover {
  background-color: white;
  color: #ff525d;
}
/*# sourceMappingURL=style.css.map */