@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;400&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Overpass", sans-serif;
  overflow-x: hidden;
}

button {
  background-color: transparent;
  border: none;
  outline: hidden;
}

li {
  list-style: none;
}

.hero-1 {
  background-image: url("./images/bg-pattern-intro.svg"), -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background-image: url("./images/bg-pattern-intro.svg"), linear-gradient(to right, #ff8f70, #ff3d54);
  background-position: bottom 42% right 70%;
  background-repeat: no-repeat;
  border-radius: 0 0 0 50px;
  min-height: 80vh;
}

.hero-1 .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  min-height: 10vh;
  margin: 0 auto;
  padding-top: 2vh;
}

.hero-1 .navigation .mobile > img {
  display: none;
}

.hero-1 .navigation .mobile > i {
  display: none;
  color: white;
  font-size: 22px;
}

.hero-1 .navigation .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-1 .navigation .left #login,
.hero-1 .navigation .left #signup {
  display: none;
}

.hero-1 .navigation .left img {
  padding-right: 40px;
  cursor: pointer;
}

.hero-1 .navigation .left .menu-item {
  padding: 0 20px;
}

.hero-1 .navigation .left .menu-item button {
  color: white;
  cursor: pointer;
}

.hero-1 .navigation .left .menu-item button img {
  padding-left: 5px;
}

.hero-1 .navigation .left .menu-item .dropdown-hover {
  display: none;
}

.hero-1 .navigation .right {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-1 .navigation .right button {
  padding: 0 20px;
  color: white;
}

.hero-1 .navigation .right #signup {
  background-color: white;
  color: #ff3d54;
  padding: 10px 25px;
  border-radius: 20px;
  font-weight: 700;
  border: 2px solid white;
  -webkit-transition-duration: 267ms;
          transition-duration: 267ms;
}

.hero-1 .navigation .right #signup:hover {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
}

.hero-1 .navigation .right #login {
  -webkit-transition-duration: 267ms;
          transition-duration: 267ms;
}

.hero-1 .navigation .right #login:hover {
  color: #ff8f70;
  cursor: pointer;
}

.hero-1 .main-hero {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  text-align: center;
}

.hero-1 .main-hero h1 {
  font-size: 60px;
  padding: 20px;
}

.hero-1 .main-hero span {
  font-size: 20px;
  padding-bottom: 20px;
}

.hero-1 .main-hero .call-to-action {
  padding: 20px;
}

.hero-1 .main-hero .call-to-action a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  margin: 0 5px;
}

.hero-1 .main-hero .call-to-action #start {
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid white;
  color: #ff525d;
  -webkit-transition-duration: 267ms;
          transition-duration: 267ms;
}

.hero-1 .main-hero .call-to-action #start:hover {
  color: white;
  background-color: transparent;
}

.hero-1 .main-hero .call-to-action #learn {
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 20px;
  -webkit-transition-duration: 267ms;
          transition-duration: 267ms;
}

.hero-1 .main-hero .call-to-action #learn:hover {
  background-color: white;
  color: #ff525d;
}

.hero-2 h2 {
  text-align: center;
  padding: 40px;
  color: #1f3f5b;
  font-size: 30px;
}

.hero-2 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.hero-2 .content .left {
  width: 600px;
}

.hero-2 .content .left h3 {
  color: #1f3f5b;
  padding: 40px 0;
  font-size: 22px;
}

.hero-2 .content .left p {
  width: 80%;
  line-height: 25px;
}

.hero-2 .content .right {
  width: 600px;
  margin-top: -80px;
}

.hero-2 .content .right img {
  width: 100%;
}

.hero-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #3f4164;
  color: white;
  margin-top: 80px;
  background-image: url("./images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: bottom 0% right 120%;
  border-radius: 0 100px 0 100px;
  background-size: 58%;
  padding: 40px 0;
}

.hero-3 .image {
  width: 600px;
}

.hero-3 .image img {
  width: 100%;
}

.hero-3 .content {
  width: 600px;
}

.hero-3 .content h2 {
  padding: 40px 0;
  font-size: 30px;
}

.hero-3 .content p {
  line-height: 30px;
  font-size: 20px;
}

.hero-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.hero-4 img {
  width: 600px;
  margin: 80px 0;
}

.hero-4 .content {
  width: 600px;
}

.hero-4 .content h3 {
  color: #1f3f5b;
  padding: 40px 0;
  font-size: 22px;
}

.hero-4 .content p {
  width: 80%;
  line-height: 25px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #2c2d3f;
  padding: 80px 0;
  color: white;
}

.footer img {
  width: 80px;
  height: 50px;
  cursor: pointer;
}

.footer ul h4 {
  padding-bottom: 40px;
}

.footer ul li {
  line-height: 30px;
  color: #c8c8cb;
}

@media screen and (max-width: 768px) {
  .hero-3 {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .hero-1 .navigation {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-1 .navigation .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-1 .navigation .mobile > img {
    display: block;
    cursor: pointer;
  }
  .hero-1 .navigation .mobile > i {
    display: block;
    color: white;
    font-size: 22px;
    cursor: pointer;
  }
  .hero-1 .navigation .left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 10vh;
  }
  .hero-1 .navigation .left #signup {
    background-color: #ff3d54;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: 700;
    border: 2px solid #ff525d;
    -webkit-transition-duration: 267ms;
            transition-duration: 267ms;
    display: block;
    margin: 20px 0;
  }
  .hero-1 .navigation .left #signup:hover {
    color: #ff525d;
    border: 2px solid #ff525d;
  }
  .hero-1 .navigation .left #login {
    -webkit-transition-duration: 267ms;
            transition-duration: 267ms;
    display: block;
    margin-top: 20px;
  }
  .hero-1 .navigation .left #login:hover {
    color: #ff8f70;
    cursor: pointer;
  }
  .hero-1 .navigation .left img {
    padding-right: 40px;
    cursor: pointer;
    display: none;
  }
  .hero-1 .navigation .left .menu-item {
    padding: 0 20px;
  }
  .hero-1 .navigation .left .menu-item button {
    color: #1f3f5b;
    padding: 15px 0;
    cursor: pointer;
  }
  .hero-1 .navigation .left .menu-item button img {
    padding-left: 5px;
  }
  .hero-1 .navigation .left .menu-item .dropdown-hover {
    display: none;
  }
  .hero-1 .navigation .right {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    padding-top: 20px;
    position: absolute;
    top: 30vh;
    display: none;
  }
  .hero-1 .navigation .right button {
    margin: 10px 0;
    padding: 0 20px;
    color: #1f3f5b;
  }
  .hero-1 .navigation .right #signup {
    background-color: #ff3d54;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: 700;
    border: 2px solid #ff525d;
    -webkit-transition-duration: 267ms;
            transition-duration: 267ms;
  }
  .hero-1 .navigation .right #signup:hover {
    color: #ff525d;
    border: 2px solid #ff525d;
  }
  .hero-1 .navigation .right #login {
    -webkit-transition-duration: 267ms;
            transition-duration: 267ms;
  }
  .hero-1 .navigation .right #login:hover {
    color: #ff8f70;
    cursor: pointer;
  }
  .hero-1 .main-hero h1 {
    font-size: 25px;
  }
  .hero-1 .main-hero span {
    font-size: 13px;
    padding: 5px;
  }
  .hero-1 .main-hero .call-to-action a {
    font-size: 10px;
  }
  .hero-2 h2 {
    font-size: 25px;
  }
  .hero-2 .content .left {
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }
  .hero-2 .content .left h3 {
    font-size: 18px;
  }
  .hero-2 .content .left p {
    width: 100%;
    font-size: 13px;
  }
  .hero-2 .content .right {
    margin: -20px 0 0 0;
    text-align: center;
  }
  .hero-2 .content .right img {
    width: 80%;
  }
  .hero-3 {
    background-position: bottom 100% right 120%;
    background-size: 100%;
  }
  .hero-3 .content {
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }
  .hero-3 .content h2 {
    font-size: 25px;
  }
  .hero-3 .content p {
    font-size: 13px;
  }
  .hero-4 img {
    width: 90%;
    margin: 80px 0 40px 0;
  }
  .hero-4 .content {
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }
  .hero-4 .content p {
    width: 100%;
    font-size: 13px;
  }
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer img {
    height: 35px;
    margin: 0 auto 40px auto;
  }
  .footer ul {
    padding: 20px 0;
  }
}
/*# sourceMappingURL=style.css.map */