//Primary
$light-red: hsl(356, 100%, 66%); //(CTA text)
$Very-light-red: hsl(355, 100%, 74%); //(CTA hover background)
$Very-dark-blue: hsl(208, 49%, 24%); //(headings)

//Neutral
$White: hsl(0, 0%, 100%); // (text)
$Grayish-blue: hsl(240, 2%, 79%); // (footer text)
$Very-dark-grayish-blue: hsl(207, 13%, 34%); // (body copy)
$Very-dark-black-blue: hsl(240, 10%, 16%); // (footer background)

//Gradient
$Very-light-red: hsl(13, 100%, 72%);
$Light-red: hsl(353, 100%, 62%);

$Very-dark-gray-blue: hsl(237, 17%, 21%);
$Very-dark-desaturated-blue: hsl(237, 23%, 32%);

//fonts
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;400&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Overpass", sans-serif;
  overflow-x: hidden;
}

//all buttons
button {
  background-color: transparent;
  border: none;
  outline: hidden;
}

//list items
li {
  list-style: none;
}

//Hero 1 section
.hero-1 {
  background-image: url("./images/bg-pattern-intro.svg"),
    linear-gradient(to right, $Very-light-red, $Light-red);
  background-position: bottom 42% right 70%;
  border-radius: 0 0 0 50px;
  min-height: 80vh;

  // #bg-img {
  //   position: absolute;
  //   top: -140%;
  //   z-index: 2;
  // }

  //navigation section
  .navigation {
    display: flex;
    align-items: center;
    width: 80%;
    min-height: 10vh;
    margin: 0 auto;
    padding-top: 2vh;

    .left {
      display: flex;
      width: 80%;
      align-items: center;

      img {
        padding-right: 40px;
        cursor: pointer;
      }

      .menu-item {
        padding: 0 20px;

        button {
          color: $White;
          cursor: pointer;

          img {
            padding-left: 5px;
          }
        }
        .dropdown-hover {
          display: none;
        }
      }
    }

    .right {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        padding: 0 20px;
        color: $White;
      }

      #signup {
        background-color: $White;
        color: $Light-red;
        padding: 10px 25px;
        border-radius: 20px;
        font-weight: 700;
        border: 2px solid $White;
        transition-duration: 267ms;

        &:hover {
          color: $White;
          background-color: transparent;
          border: 2px solid $White;
          cursor: pointer;
        }
      }

      #login {
        transition-duration: 267ms;
        &:hover {
          color: $Very-light-red;
          cursor: pointer;
        }
      }
    }
  }

  //Main hero section
  .main-hero {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $White;

    h1 {
      font-size: 60px;
      padding: 20px;
    }

    span {
      font-size: 20px;
      padding-bottom: 20px;
    }

    .call-to-action {
      padding: 20px;

      a {
        text-decoration: none;
        color: $White;
        font-weight: 700;
        margin: 0 5px;
      }

      #start {
        background-color: $White;
        padding: 10px 20px;
        border-radius: 20px;
        border: 2px solid $White;
        color: $light-red;
        transition-duration: 267ms;

        &:hover {
          color: $White;
          background-color: transparent;
        }
      }

      #learn {
        border: 2px solid $White;
        padding: 10px 20px;
        border-radius: 20px;
        transition-duration: 267ms;

        &:hover {
          background-color: $White;
          color: $light-red;
        }
      }
    }
  }
}

//hero 2 section
.hero-2 {
  h2 {
    text-align: center;
    padding: 40px;
    color: $Very-dark-blue;
    font-size: 30px;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .left {
      width: 40%;

      h3 {
        color: $Very-dark-blue;
        padding: 40px 0;
        font-size: 22px;
      }

      p {
        width: 80%;
        line-height: 25px;
      }
    }

    .right {
      width: 40%;
      margin-top: -100px;
      img {
        width: 700px;
      }
    }
  }
}

//hero 3 section
.hero-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $Very-dark-desaturated-blue;
  color: $White;
  margin-top: 80px;
  background-image: url("./images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: bottom 0% right 120%;
  border-radius: 0 100px 0 100px;
  background-size: 58%;

  .image {
    width: 40%;

    img {
      width: 80%;
    }
  }

  .content {
    width: 40%;

    h2 {
      padding: 40px 0;
      font-size: 30px;
    }

    p {
      line-height: 30px;
      font-size: 20px;
    }
  }
}

//hero 4 section
.hero-4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
  img {
    width: 40%;
    margin: 80px 0;
  }

  .content {
    width: 40%;

    h3 {
      color: $Very-dark-blue;
      padding: 40px 0;
      font-size: 22px;
    }

    p {
      width: 80%;
      line-height: 25px;
    }
  }
}

//footer section
.footer {
  display: flex;
  justify-content: space-around;
  background-color: $Very-dark-gray-blue;
  padding: 80px 0;
  color: $White;

  img {
    width: 80px;
    height: 50px;
    cursor: pointer;
  }

  ul {
    h4 {
      padding-bottom: 40px;
    }

    li {
      line-height: 30px;
      color: $Grayish-blue;
    }
  }
}

//mobile styling

@media screen and (max-width: 768px) {
}
