//Primary
$light-red: hsl(356, 100%, 66%); //(CTA text)
$Very-light-red: hsl(355, 100%, 74%); //(CTA hover background)
$Very-dark-blue: hsl(208, 49%, 24%); //(headings)

//Neutral
$White: hsl(0, 0%, 100%); // (text)
$Grayish-blue: hsl(240, 2%, 79%); // (footer text)
$Very-dark-grayish-blue: hsl(207, 13%, 34%); // (body copy)
$Very-dark-black-blue: hsl(240, 10%, 16%); // (footer background)

//Gradient
$Very-light-red: hsl(13, 100%, 72%);
$Light-red: hsl(353, 100%, 62%);

$Very-dark-gray-blue: hsl(237, 17%, 21%);
$Very-dark-desaturated-blue: hsl(237, 23%, 32%);

//fonts
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;400&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Overpass", sans-serif;
  overflow-x: hidden;
}

//all buttons
button {
  background-color: transparent;
  border: none;
  outline: hidden;
}

//list items
li {
  list-style: none;
}

//Hero 1 section
.hero-1 {
  background-image: url("./images/bg-pattern-intro.svg"),
    linear-gradient(to right, $Very-light-red, $Light-red);
  background-position: bottom 42% right 70%;
  border-radius: 0 0 0 50px;
  height: 80vh;

  // #bg-img {
  //   position: absolute;
  //   top: -140%;
  //   z-index: 2;
  // }

  //navigation section
  .navigation {
    display: flex;
    align-items: center;
    width: 80%;
    height: 10vh;
    margin: 0 auto;
    padding-top: 2vh;

    .left {
      display: flex;
      width: 80%;
      align-items: center;

      img {
        padding-right: 40px;
        cursor: pointer;
      }

      .menu-item {
        padding: 0 20px;

        button {
          color: $White;
          cursor: pointer;

          &:hover {
            color: $Light-red;
            transition-duration: 267ms;
          }

          img {
            padding-left: 5px;
          }
        }
        .dropdown-hover {
          display: none;
        }
      }
    }

    .right {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        padding: 0 20px;
        color: $White;
      }

      #signup {
        background-color: $White;
        color: $Light-red;
        padding: 10px 25px;
        border-radius: 20px;
        font-weight: 700;
        border: 2px solid $White;
        transition-duration: 267ms;

        &:hover {
          color: $White;
          background-color: transparent;
          border: 2px solid $White;
          cursor: pointer;
        }
      }

      #login {
        transition-duration: 267ms;
        &:hover {
          color: $Very-light-red;
          cursor: pointer;
        }
      }
    }
  }

  //Main hero section
  .main-hero {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $White;

    h1 {
      font-size: 60px;
      padding: 20px;
    }

    span {
      font-size: 20px;
      padding-bottom: 20px;
    }

    .call-to-action {
      padding: 20px;

      a {
        text-decoration: none;
        color: $White;
        font-weight: 700;
        margin: 0 5px;
      }

      #start {
        background-color: $White;
        padding: 10px 20px;
        border-radius: 20px;
        border: 2px solid $White;
        color: $light-red;
        transition-duration: 267ms;

        &:hover {
          color: $White;
          background-color: transparent;
        }
      }

      #learn {
        border: 2px solid $White;
        padding: 10px 20px;
        border-radius: 20px;
        transition-duration: 267ms;

        &:hover {
          background-color: $White;
          color: $light-red;
        }
      }
    }
  }
}
